
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k2,k3,k4) &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3


/ {
    chosen {
      zmk,matrix_transform = &five_column_transform;
    };

    behaviors {
       ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
        // -----------------------------------------------------------------------------------------
        // |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U   |  I   |  O   | P |
        // |  A  |  S  |  D  |  F  |  G  |     |  H  |  J   |  K   |  L   | ' | Left/Right Home Row Mods
        // |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M   |  ,   |  .   | ; |
        //             | LWR | SHFT| SPC |     | ENT | BKSPC| RSE |
                        display-name = "Base";
                        bindings = <
                         &kp Q &kp W &kp E &kp R &kp T     &kp Y   &kp U  &kp I     &kp O     &kp P 
                         &kp A HRML(S,   D,   F) &kp G     &kp H   HRMR(J,    K,    L)     &kp SQT 
                         &kp Z &kp X &kp C &kp V &kp B     &kp N   &kp M  &kp COMMA &kp DOT    &kp SEMI 
                            &mo 1 &kp LSHIFT &kp SPACE     &kp RET &kp BSPC &mo 2
                        >;
          };

        lower_layer {
        // -----------------------------------------------------------------------------------------
        // |    1     | 2 |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0   |
        // | CAPSLOCK |   |     |     |     |     |     |LEFT |DOWN |  UP |RIGHT |
        // |          |   |     |     |     |     |     |HOME |PAGED|PAGEU|END   |
        //                | CMD | SHFT| TAB |     | ENT | ESC |     |
                       display-name = "Lower";
                       bindings = <
                        &kp N1       &kp N2       &kp N3       &kp N4       &kp N5           &kp N6    &kp N7    &kp N8      &kp N9    &kp N0
                        &kp CAPS     &trans       &trans       &trans       &trans           &trans    &kp LARW  &kp DARW    &kp UARW  &kp RARW
                        &trans       &trans       &trans       &trans       &trans           &trans    &kp HOME  &kp PG_DN   &kp PG_UP &kp END
                        &kp LGUI     &trans       &kp TAB        &trans   &kp ESC   &trans
                        >;
        };

        raise_layer {
        // -----------------------------------------------------------------------------------------
        // | !     |  @  |  #  |  $  |  %  |     |  ^  |  &  |  *  |  `  |  ~  |
        // | "     |  [  |  {  |  (  |     |     |  /  |  -  |  =  |  :  |  ;  |
        // | '     |  ]  |  }  |  )  |     |     |  \  |  _  |  +  |  |  |  ?  |
        //               |     |     | SPC |     | ENT | ESC | TAB |
                display-name = "Raise";
                bindings = <

                 &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT     &kp CARET &kp AMPS  &kp ASTRK &kp GRAVE &kp TILDE
                 &kp DQT   &kp LBKT  &kp LBRC  &kp LPAR  &trans        &kp FSLH  &kp MINUS &kp EQUAL &kp COLON &kp SEMI
                 &kp SQT   &kp RBKT  &kp RBRC  &kp RPAR  &trans        &kp BSLH  &kp UNDER &kp PLUS  &kp PIPE QMARK
                      &kp LGUI   &trans     &trans        &trans   &kp ESC   &kp TAB
                >;
        };

       tri_layer {
       // -----------------------------------------------------------------------------------------
       // | F1    |  F2 |  F3 |  F4 |PROF 0|     |PROF 2|             |     |  VOL MUTE  |  NEXT SONG  |
       // | F5    |  F6 | F7  |  F8 |PROF 1 |    |PROF 3| INC BRIGHT  |     |  VOL UP    | PAUSE MUSIC  |
       // | F9    | F10 | F11 |  F12|CLEARBT|    |PROF 4|  DEC BRIGHT |     |  VOL DOWN  |  PREV SONG   |
       //               |     |     | SPC  |     | ENT | ESC | TAB |
                 display-name="Tri";
                 bindings = <
                  &kp F1     &kp F2     &kp F3     &kp F4     &bt BT_SEL 0     &bt BT_SEL 2  &trans &trans &kp C_MUTE  &kp C_NEXT
                  &kp F5     &kp F6     &kp F7     &kp F8     &bt BT_SEL 1     &bt BT_SEL 3  &kp C_BRI_UP  &trans   &kp C_VOL_UP  &kp C_PP
                  &kp F9     &kp F10    &kp F11    &kp F12    &bt BT_CLR       &bt BT_SEL 4  &kp C_BRI_DEC  &trans   &kp C_VOL_DN &kp C_PREV
                       &kp LGUI        &trans        &kp SPACE        &trans   &kp ESC   &kp TAB
                 >;
        };

    };

};

